.forecastWeatherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hide {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 0.2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0)
}

@media(prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

#dayOneDiv {
  border: solid 1px;
}

#dayTwoDiv {
  transition-delay: 100ms;
  border: solid 1px;
}

#dayThreeDiv {
  transition-delay: 200ms;
  border: solid 1px;
}

#dayFourDiv {
  transition-delay: 300ms;
  border: solid 1px;
}

.forecastDayDiv {
  width: 200px;
}