.forecastWeatherDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.hide {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 0.2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0)
}

@media(prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

#dayTwoDiv {
  transition-delay: 100ms;
}

#dayThreeDiv {
  transition-delay: 200ms;
}

#dayFourDiv {
  transition-delay: 300ms;
}

.forecastDayDiv {
  width: 300px;
  min-width: 260px;
  background: black;
  color: white;
  border-radius: 5px;
}

.flexForecast {
  display: flex;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
}

.forecastDay {
  font-size: 24px;
  font-weight: 600;
}

.forecastWeather {
  margin-top: 2px;
  font-size: 18px;
}

.weatherIconDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.forecastAverage {
  margin-left: 24px;
  font-size: 62px;
  font-weight: 100;
}

.forecastHigh, .forecastLow {
  font-size: 24px;
  margin-bottom: 12px;
}

/* Mobile styles */

@media screen and (max-width: 900px) {
  .forecastDayDiv {
    width: 85vw;
    background: black;
    color: white;
    border-radius: 5px;
  }

  .forecastWeatherDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}