@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

body {
  margin: 0px;
  min-height: 100%;
  background: url('./assets/tofino.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h2, h3, p {
  margin: 0;
}

.hidden {
  display: none;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 24px;
  margin-bottom: 24px;
  min-height: 100%;
  min-height: 90vh;
  width: 90vw;
  min-width: 95%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.optionsDiv {
  display: flex;
  justify-content: space-between;
}

.temperatureBtnDiv {
  margin-right: 48px;
  position: relative;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 80px;
	height: 34px;
  margin-top: 6px;
	background: rgb(129, 126, 126);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #000000;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: px;
}

form {
  padding: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
}

#temperatureFText {
  font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 24px;
  left: 18px;
  color: white;
  margin-left: 12px;
  margin-top: 2px;
  font-size: 30px;
  font-weight: 800;
  transform:translateX(-100%);
}

#temperatureCText {
  font-family: 'Bebas Neue',Arial, Helvetica, sans-serif;
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 24px;
  right: 18px;
  margin-left: 12px;
  margin-top: 2px;
  font-size: 30px;
  font-weight: 800;
}

.hideTemp {
  opacity: 0;
  transition: all 0.2s;
}

.showTemp {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hideTemp {
    transition: none;
  }
}

#location {
  padding: 8px;
  height: 18px;
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: #D9D9D9;
}

#submit {
  font-size: 18px;
  height: 35px;
  background: #120404;
  border: none;
  border-radius: 5px;
  color: white;
}

.weatherFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 36px;
}

#city {
  font-family: 'Zilla Slab','Bebas Neue',Arial, Helvetica, sans-serif;
  font-size: calc(40px + 3vw);
  letter-spacing: 4px;
  margin-top: 12px;
}

#country {
  font-family: 'Zilla Slab','Bebas Neue',Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  font-size: 36px;
}

#currentTemp {
  font-family: 'Zilla Slab','Bebas Neue',Arial, Helvetica, sans-serif;
  font-size: calc(80px + 4vw);
}

#currentWeather {
  font-family: 'Zilla Slab','Bebas Neue',Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  font-size: 36px;
  margin-top: -6px;
}

.currentWeatherDiv {
  display: flex;
  flex-direction: column;
}

.forecastBtnDiv {
  margin-top: 62px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecastBtn {
  font-size: 18px;
  font-weight: 400;
  color: white;
  background: black;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 120px;
}

/* Mobile styles */

@media only screen and (max-width: 600px) {
  .weatherFlex {
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
  }

  #currentTemp {
    margin-top: 24px;
  }
}


